<!DOCTYPE html>
<html>
<%- include('../parts/head');%>

  <body>
    <header>
      <%- include('../parts/navigation');%>
    </header>
    <main>

      <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
          <% for(let i=0; i < news.length; i++){ %>
            <div class="col mb-4">
              <div class="card">
                <img src="<%= news[i].img %>" class="card-img-top" alt="Image de l'article <%= news[i].title %>
">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= news[i].title %>
                  </h5>
                  <p class="card-text">
                    <%= news[i].content %>
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">
                    <p class="d-block py-2">
                      <span class="badge badge-info float-left">
                        Auteur : <%= news[i].author_firstname + " " + news[i].author_lastname %>
                      </span>
                      <span class="badge badge-info float-right"> Publiée le :
                        <%= new Date(news[i].published_at).getDate() + "/" + new Date(news[i].published_at).getMonth()
                          + "/" + new Date(news[i].published_at).getFullYear(); %>
                      </span>
                    </p>
                    <a href="/news/<%= news[i].id %>" class="btn btn-dark btn-sm d-block" type="button"
                      type="submit">Lire la suite</a>
                  </small>
                </div>
              </div>
            </div>
        </div>
      </div>

      <% } %>

        </div>

    </main>
    <%- include('../parts/footer');%>
  </body>

</html>